# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# CLI tools
.codex/
.claude/

# MacOS custom attributes files created by Finder
.DS_Store
bin/

# Javabase files
*.class
*.jar
*.war

# Temp files
_temp/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
